.header{
    background: #f5ecdb;
    padding: 1rem 0;
}
.navbarBrand{
    font-size: 18px;
    font-weight: 900;
    text-decoration: none;
    color: #f26200;
}
.navItem{
    margin-right: 1rem;
}
.navButton{
    background: #f26200;
    padding: 0 16px;
}
.navButton a{
    color: #fff !important;
}