.header{
    background: #fff;
    padding: .5rem 0;
    position: sticky;
    top: 0;
}
.navbarBrand{
    font-size: 18px;
    font-weight: 900;
    text-decoration: none;
    color: #61DBFB;
}
.navbarBrand:hover{
    color: #61DBFB;
}
.navItem{
    margin-right: 1rem;
}
.navButton{
    background: #61DBFB;
    padding: 0 16px;
}
.navButton a{
    color: #fff !important;
}
