@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap');
.banner{
    min-height: 677px;
    background: #f5ecdb;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.bannerContent h2{
    font-size: 4rem;
    line-height: 1;
    font-weight: 900 !important;
    color: #f26200;
    margin-bottom: 30px;
}
.bannerContent p{
    font-size: 18px;
    color: #000;
    margin-bottom: 30px;
}
.bannerContent i{
    font-size: 5rem;
    color: #f26200;
}