.banner {
    min-height: 750px;
    background-image: linear-gradient(#00095e, #000638);
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #fff;
    position: relative;
}

.bannerContent h2 {
    font-size: 3rem;
    line-height: 1;
    font-weight: 700;
    color: #1dd3f8;
    margin: 16px 0;
    letter-spacing: 2px;
}

.bannerContent h4 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    font-weight: 500;
    letter-spacing: 2px;
}

.bannerContent p {
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    font-weight: 400;
}

.bannerContent i {
    font-size: 5rem;
    color: #f26200;
}

.bannerContent img {
    width: 60%;
    height: 100%;
}

.bannerContent button {
    background: #61DBFB;
    padding: 14px 30px;
    border: none;
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
}
.bannerContent button a{
    text-decoration: none;
    color: #00042c;
}
.earth{
    position: absolute;
    top: 15%;
    left: 0;
}
.earth img{
    width: 80%;
}

@media screen and (max-width: 992px) {
    .banner {
        min-height: 600px;
    }
}


@media screen and (max-width: 500px) {
    .banner {
        min-height: 450px;
    }
    .bannerContent h2 {
        font-size: 2rem;
    }

    .bannerContent h4 {
        font-size: 1rem;
    }

    .bannerContent p {
        font-size: 14px;
    }

    .bannerContent button {
        padding: 12px 25px;
        font-size: 12px;
    }
}