.skillsContainer h3{
  font-size: 20px;
  font-weight: 600;
}
.progress {
	background-color: #d8d8d8;
	border-radius: 20px;
	position: relative;
	margin: 15px 0;
	height: 15px;
	width: 100%;
}
.progressDone {
	background: linear-gradient(to left, #00042c, #00042c);
	box-shadow: 0 3px 3px -5px #00042c, 0 2px 5px #00042c;
	border-radius: 20px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 0;
	opacity: 0;
	transition: 2s ease 0.3s;
    font-size: 16px;
}