.footer{
    background: #00042c;
    color: #fff;
    padding: 5em 0;
    line-height: 1.7;
    font-weight: 300;
    color: #fff;
    font-size: 17px;
}
/*-- main div --*/
.footer4{
    padding: 0 10px;
}
/*-- footer head style --*/
.footer1 h3{
    font-size: 25px;
    font-weight: 800;
    margin-bottom: 15px;
}
.footer2 h3{
    font-size: 20px;
    margin-bottom: 15px;
}
.footer3 h3{
    font-size: 20px;
    margin-bottom: 15px;
}
.footer4 h3{
    font-size: 20px;
    margin-bottom: 15px;
}
.footer1 h3{
    color: #61DBFB;
    font-size: 18px;
}

.footer3 ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
}
.footer3 ul li{
    background: #61DBFB;
    padding: 5px;
    display: flex;
    justify-content: center;
}
.footer ul li a{
    text-decoration: none;
    color: #fff;
}

.footer3 ul li a i{
    font-size: 22px;
}


.input{
    outline: none;
    padding: 4px 21px;
    border: 1px solid #ffffff;
    background: transparent;
    color: #fff;
    width: 60%;
}
.submit{
    padding: 5px 15px;
    margin-left: -5px;
    font-weight: 600;
    background: #61DBFB;
    border: none;
}

