@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800;900&display=swap');
.head{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    padding: 0 25rem;
}
.head h2{
    font-size: 2rem;
    font-weight: 700;
    color: #f26200;
    margin-bottom: 1.2rem;
}
.head p{
    font-size: 1rem;
    font-weight: 400;
}
.Card{
    position: relative;
    overflow: hidden;
}
.social{
    margin: 0;
    background: #f26200;
    display: flex;
    flex-direction: column;
    width: 50px;
    align-items: center;
    position: absolute;
    top: 0;
    height: 205px;
    left: 0;
    left: -50px;
    opacity: 0;
    transition: all .3s ease-in-out;
}
.social li{
    margin: 12px 0;
}
.social li a img{
    width: 1.5rem;
    height: 1.5rem;
}
.imgInfo{
    padding: 1rem;
    font-family: 'Poppins', sans-serif;
}
.imgInfo h4{
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1;
}
.imgInfo span{
    font-size: 1rem;
    font-weight: 300;
    color: #cccccc;
}
.Card:hover .social{
    left: 0;
    opacity: 1;
}