*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul{
  list-style: none;
  padding: 0 !important;
}
html,
body{
  font-family: 'Poppins', sans-serif;
}
a,link{
  text-decoration: none;
}
a,link:hover{
  color: #000;
}
/*-- color plat --*/
/* primary color */
/* #61DBFB */